:root {
    --black: 
  rgba(0, 0, 0, 1);
    --midnight-blue: 
  rgba(2, 49, 111, 1);
    --apple: 
  rgba(52, 161, 54, 1);
    --sisal: 
  rgba(205, 205, 186, 1);
    --wattle: 
  rgba(222, 207, 76, 1);
    --mercury: 
  rgba(229, 229, 229, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-s: 20px;
    --font-size-m: 24px;
    --font-size-l: 34px;
    --font-size-xl: 96px;
  
    --font-family-b612: "B612";
  }
  
  a{
    color : white;
    
  }
  .mulish-normal-white-16px {
    color: var(--white);
    font-family: var(--font-family-mulish);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  } 
  .pricing {
    letter-spacing: 0;
    /*line-height: 150px;*/
     margin-left: 68px;
    min-height: 24px;
    min-width: 94px;
    white-space: nowrap;
  }
  
  .b612-normal-wattle-34px {
    color: var(--wattle);
    font-family: var(--font-family-b612);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .b612-normal-sisal-24px {
    color: var(--sisal);
    font-family: var(--font-family-b612);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .b612-normal-midnight-blue-34px {
    color: var(--midnight-blue);
    font-family: var(--font-family-b612);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .b612-normal-mercury-96px {
    color: var(--mercury);
    font-family: var(--font-family-b612);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
  }
  .b612-normal-mercury-24px {
    color: var(--mercury);
    font-family: var(--font-family-b612);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .b612-normal-apple-96px {
    color: var(--apple);
    font-family: var(--font-family-b612);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
  }
  .b612-bold-white-20px {
    color: var(--white);
    font-family: var(--font-family-b612);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
  }



:root {
    --black: 
  rgba(0, 0, 0, 1);
    --midnight-blue: 
  rgba(2, 49, 111, 1);
    --apple: 
  rgba(52, 161, 54, 1);
    --sisal: 
  rgba(205, 205, 186, 1);
    --wattle: 
  rgba(222, 207, 76, 1);
    --mercury: 
  rgba(229, 229, 229, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-s: 20px;
    --font-size-m: 24px;
    --font-size-l: 34px;
    --font-size-xl: 96px;
  
    --font-family-b612: "B612";
  }
  
  
  @import url("https://fonts.googleapis.com/css?family=B612:400,700");

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.desktop-3 {
  align-items: flex-start;
  background-color: 
#141516;
  display: flex;
  height: 1108px;
  width: 100%
}

.overlap-group1 {
  height: 885px;
  margin-top: 223px;
  position: relative;
  width: 100%;
}

.overlap-group {
  height: 885px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.donate-1 {
  height: 513px;
  left: 822px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 550px;
}

.we-rise-by-lifting-others {
  left: 80px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 765px;
  white-space: nowrap;
  width: 1280px;
}

.rectangle-5 {
  height: 481px;
  left: 0;
  position: absolute;
  top: 404px;
  width: 1440px;
}

.frame-4 {
  align-items: center;
  background-color: var(--apple);
  border-radius: 7px;
  display: flex;
  height: 80px;
  left: 126px;
  /* min-width: 274px; */
  padding: 0 64px;
  position: absolute;
  top: 433px;
}

.request-now {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 146px;
}

.title {
  
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 743px;
}

.address {
  left: 111px;
  letter-spacing: 0;
  position: absolute;
  top: 35px;
  width: 628px;
}

.out-of-humanity-it {
  left: 126px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 277px;
  width: 630px;
}